@import 'variables';

.Footer {
  min-height: 10vh;
  margin: 0 40px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $primary-color;
  color: $primary-color;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow: hidden;

  .footer-authors {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    .app-author {
      font-size: 0.9rem;
    }

    .design-author {
      font-size: 0.7rem;
    }
  }

  .footer-icons {
    display: flex;
    justify-content: space-between;
    width: 180px;

    .icon-container {
      img {
        width: 40px;
        padding: 5px;
        border: 1px solid $primary-color;
        border-radius: 20%;
      }

      span {
        display: block;
        margin-top: 5px;
        font-size: 0.7rem;
        color: $primary-color;
      }
    }
  }

  a {
    text-decoration: none;
    color: $secondary-color-lighter;
  }
}
