@import 'variables';

.Games-form {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: $secondary-color-lighter;

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    input[type=text] {
      height: 35px;
      max-width: 300px;
      min-width: 200px;
      padding-left: 10px;
      border: 1px solid $secondary-color-darker;
      color: #747373;

      &::placeholder {
        color: $secondary-color-darker;
      }
    }

    button {
      position: relative;
      height: 35px;
      width: 50px;
      border: 1px solid $secondary-color-darker;
      border-left: none;
      background-color: #fff;

      img {
        position: absolute;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    button:hover {
      cursor: pointer;
    }
  }
}
