@import 'variables';

.Games-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $terciary-color;

  .games {
    display: grid;
    grid-template-columns: 500px 500px;

    article {
      width: 500px;
      height: 400px;
      border: 1px solid #fff;
      overflow: hidden;

      a {
        img {
          position: relative;
          max-height: 400px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
