@import 'variables';

.Header {
  p {
    padding: 20px 0;
    font-family: 'MuseoModerno', cursive;
    font-weight: 700;
    font-size: 38px;
    color: $primary-color;
    background-color: $terciary-color;
  }
}
