@import 'reset';
@import 'variables';
@import 'header';
@import 'games-form';
@import 'filter';
@import 'games-list';
@import 'footer';

.App {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  background-color: $terciary-color;
}
